<div class="container">


    <div class="row">

        {{> _msg}}

        <div class="col s12 m8 l8">
            <h4>Edit >  {{ apartment.title}}</h4>
            <div class="hr-1px"></div>

            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text">

                        <form action="/admin/apartments/{{ apartment.id }}?_method=PUT" method="post">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="title" value="{{ apartment.title }}">
                                    <label for="title">Apartment Name</label>

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="address" value="{{ apartment.address }}">
                                    <label for="address">Address</label>

                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col s12 m12 l12">

                                    <h5>Descriptions</h5>
                                    <textarea id="desc" name="desc" class="materialize-textarea">{{ apartment.desc }}</textarea>

                                </div>

                            </div>


                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="imgUrl" value="{{ apartment.imgUrl }}">
                                    <label for="imgUrl">Image URL</label>

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="status" id="status">
                                      {{#select apartment.status }}
                                      
                                        <option value="Available" selected>Available</option>
                                        <option value="Private">Private</option>
                                        <option value="Unavailable">Unavailable</option>

                                       {{/select }}
                                    </select>
                                    <label for="status">Status</label>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" value="Update" class="btn right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<div class="col s12 m4 l4">
            <h4>Add Facility</h4>
            <div class="hr-1px"></div>

      <form action="/admin/facility/{{ apartment.id }}" method="post">
              <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="title">
                                    <label for="title">Facility</label>

                                </div>
            </div>

             {{!-- <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="value">
                                    <label for="value">Value</label>

                                </div>
            </div> --}}

            <div class="row">
                                <input type="submit" value="+" class="btn right">
            </div>
      
      </form>

    {{#if apartment.facilities }}
      <h5>Facility Lists</h5>
      <div class="divider"></div>

    <table>

        <th>Title</th>
        <th>manage</th>

         {{#each apartment.facilities }} 
        <tr>
            <td>{{ title }}</td>
            <td>
                <form action="/admin/facility/{{ id }}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">X</button>
                </form>
            </td>
        </tr>
         {{/each}}

        
    </table>

     
    {{/if }}  
     

       
</div>