<div class="container">
    
    <div class="row">
                <div class="input-field col s12">
                    {{#if errors}}
                    <div class="card-panel red lighten-4">
                        {{#each errors}} {{error}}
                        <br> {{/each}}
                    </div>
                    {{/if}} {{#each successMsg}}

                    <div class="card-panel green lighten-4">
                         {{success}}
                    </div>
                    {{/each}}
                </div>
    </div>


    <h3>Current Apartments Intro</h3>
    <div class="hr-1px"></div>

    <div class="row">
       
        {{#if intro }}
        <table class="striped">
        <thead>
          <tr>
              <th>Intro Title</th>
              {{!-- <th class="hide-on-small-only">Description</th> --}}
              <th>Author</th>
              <th>Status</th>
              <th colspan="2" class="center-align">Manage</th>
              
          </tr>
        </thead>

        <tbody>
            
          <tr>
            <td>{{ intro.title }}</td>
            <td>{{ intro.owner }}</td>
            {{!-- <td class="hide-on-small-only">{{ stripTags (truncate desc 100) }}</td> --}}
            <td>{{ intro.status }}</td>
            <td class="right-align"> <a href="/admin/apartment-intro/{{ intro.id }}" class="btn">Edit</a> </td>
            
            {{!-- <td class="left-align">
                 <form action="/admin/apartments/{{ id }}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">Delete</button>
            </form>
            
            

            </td> --}}


          </tr>
           
            
        </tbody>
      </table>

        {{else}}
        <p>Currently is no apartment intro available!</p>
       {{/if}}
     

    </div>
</div>