<div class="container">


    <div class="row">

        {{> _msg}}

        <div class="col s12 m8 l8">
            <h4>Add new apartment</h4>
            <div class="hr-1px"></div>

            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text">

                        <form action="/admin/apartments/{{ apartment.id }}?_method=PUT"" method="post">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="name" value="{{ apartment.name }}">
                                    <label for="vehicleType">Apartment Name</label>

                                </div>
                            </div>
                            <div class="row">

                                <div class="input-field col s12 m12 l12">

                                    <h5>Descriptions</h5>
                                    <textarea id="desc" name="desc" class="materialize-textarea">{{ apartment.desc }}</textarea>

                                </div>

                            </div>


                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="imgUrl" value="{{ apartment.imgUrl }}">
                                    <label for="imgUrl">Image URL</label>

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="status" id="status">
                                      {{#select apartment.status }}
                                      
                                        <option value="public" selected>Available</option>
                                        <option value="private">Private</option>
                                        <option value="unavailable">Unavailable</option>

                                       {{/select }}
                                    </select>
                                    <label for="status">Status</label>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" value="Update" class="btn right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<div class="col s12 m4 l4">
            <h4>Current List</h4>
            <div class="hr-1px"></div>

        {{#if apartments }}                  
        <table class="highlight">
        <thead>
          <tr>
              <th>Apartment</th>
              <th>Status</th>
              <th>Manage</th>
          </tr>
        </thead>

        <tbody>

        {{#each apartments }} 

          <tr>
            <td>{{ name }}</td>
            <td>{{ status }}</td>
            <td>
               <a href="/admin/apartments/show/{{ id }}">Viewe</a>   | 
                <a href="/admin/apartments/{{ id }}">Edit</a>  | 
                 <a href="/admin/apartments/delete/{{ id }}">Delete</a>
            </td>
          </tr>

        {{/each }}

        </tbody>
      </table>

      {{ else }}

        No apartments available

      {{/if}}

        </div>
    </div>
</div>