<div class="container">
    <h3>Category</h3>
    <div class="hr-1px"></div>
    <div class="row">
                <div class="input-field col s12">
                    {{#if errors}}
                    <div class="card-panel red lighten-4">
                        {{#each errors}} {{error}}
                        <br> {{/each}}
                    </div>
                    {{/if}} {{#each successMsg}}

                    <div class="card-panel green lighten-4">
                         {{success}}
                    </div>
                    {{/each}}
                </div>
    </div>

    <div class="row">
       
        {{#if categories}}
        <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Manage</th>
          </tr>
        </thead>

        <tbody>

          
            {{#each categories }}

            
          <tr>
            <td>{{name}}</td>
            <td>{{stripTags (truncate description 100)}}</td>
            <td>{{status}}</td>
            <td> <a href="/admin/category-edit/{{id}}" class="btn">Edit</a> 
            
             <form action="/admin/category-delete/{{id}}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red"> <i class="fa fa-remove"></i></button>
              </form>

            </td>


          </tr>
           {{/each}}
            
        </tbody>
      </table>

        {{else}}
        <p>No Category Found!</p>
       {{/if}}
     

    </div>
</div>