<div class="container">


    <div class="row">

        {{> _msg}}

        <div class="col s12 m8 l8">
            <h4>Add new apartment</h4>
            <div class="hr-1px"></div>

            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text" >

                        <form action="/admin/contact" method="post">

                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="title">
                                    <label for="title">Title</label>

                                </div>
                            </div>

                             <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
                                    {{!-- <label for="desc">Contact Content</label> --}}
                                </div>
                            </div>


                             <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="phone">
                                    <label for="phone">Phone</label>

                                </div>
                            </div>


                            <div class="row">
                                 <div class="input-field col s12 m12 l12">
                                 <input type="text" name="email">
                                 <label for="email">Email</label>
                                 </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <input type="text" name="whatsapp">
                                    <label for="whatsapp">WhatsApp</label>
                                </div>
                            </div>

                             <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <input type="text" name="skype">
                                    <label for="skype">Skype</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <input type="text" name="website">
                                    <label for="website">Website</label>
                                </div>
                            </div>

                             <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <input type="text" name="addr1">
                                    <label for="addr1">Address #1</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <input type="text" name="addr2">
                                    <label for="addr2">Address #2</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="status" id="status">

                                        <option value="public" selected>Public</option>
                                        <option value="private">Private</option>
                                        <option value="unpublished">unpublished</option>

                                        <ect></ect>
                                        <ect></ect>
                                    </select>
                                    <label for="status">Status</label>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" value="Add" class="btn right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<div class="col s12 m4 l4">
    <h4>Current Contact</h4>
            <div class="hr-1px"></div>


                <div class="col s12 m12 l13">
                    <div class="card white darken-1">
                    <div class="card-content gray-text">

                <div class="row header-text-01">
                    <h5>Phone</h5>
                    <div class="hr-1px-p10"></div>
                    <div class="col s12 m2 l2">
                        <p>
                            <i class="material-icons">call</i>
                        </p>
                    </div>
                    <div class="col s12 m10 l10">
                        <p>
                            <a class="blue-grey-text" href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
                        </p>
                    </div>

                </div>



                <div class="row header-text-01">
                    <h5>Email</h5>
                    <div class="hr-1px-p10"></div>

                    <div class="col s12 m2 l2">
                        <p>
                            <i class="material-icons">drafts</i>
                        </p>
                    </div>
                    <div class="col s12 m10 l10">
                        <p>
                            <a class="blue-grey-text" href="mailto:{{ contact.email }}?Subject=Enquiry from samuioceantour.com">{{ contact.email }}</a>
                        </p>
                    </div>

                </div>

                <div class="row header-text-01">
                    <h5>WhatsApp</h5>
                    <div class="hr-1px-p10"></div>

                    <div class="col s12 m2 l2">
                        <p>

                            <i class="material-icons">call</i>

                        </p>
                    </div>
                    <div class="col s12 m10 l10">
                        <p>
                            <a class="blue-grey-text" href="#">{{ contact.whatsapp }}</a>
                        </p>

                    </div>


                </div>

                <div class="row header-text-01">
                    <h5>Skype</h5>
                    <div class="hr-1px-p10"></div>
                    <div class="col s12 m2 l2">
                        <p>
                            <i class="material-icons">call</i>
                        </p>
                    </div>
                    <div class="col s12 m10 l10">
                        <p> <a class="blue-grey-text" href="#">{{ contact.skype }}</a>
                        </p>
                    </div>

                </div>

                 <div class="row header-text-01">
                    <h5>Website</h5>
                    <div class="hr-1px-p10"></div>
                    <div class="col s12 m2 l2">
                        <p>
                            <i class="material-icons">cloud</i>
                        </p>
                    </div>
                    <div class="col s12 m10 l10">
                        <p> <a class="blue-grey-text" href="{{ contact.website }}">{{ contact.website }}</a>
                        </p>
                    </div>

                </div>

                <div class="row header-text-01">
                    <h5>Address</h5>
                    <div class="hr-1px-p10"></div>
                    <div class="col s12 m2 l2">
                        <p>
                            <i class="material-icons">location_on</i>
                        </p>
                    </div>
                    <div class="col s12 m10 l10">
                        <p>
                            <p class="blue-grey-text" href="#">
                            {{ contact.addr1 }}
                            <br>
                            <span>{{ contact.addr2 }}</span>
                            <br>
                            </p>
                        </p>
                    </div>
                </div>

                </div>
                </div>

            </div>


            
</div>
</div>