            {{!-- Image Update --}}

            <div class="col s12 m12 l12">

                 <form action="/admin/gallery/{{ apartment.id }}?_method=PUT" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">

                <form action="/admin/gallery/{{ apartment.id }}?_method=PUT" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">

                    <div class="card white darken-1">
                        <div class="card-content gray-text">

                            <div class="row">

                                 <h4>Image</h4>
                                 <div class="hr-1px"></div>
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Image</span>
                                        <input type="file" name="imgUrl">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>

                            {{!-- <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="img" value="{{ apartment.imgUrl }}">
                                    <label for="img">Current Image</label>

                                </div>
                            </div> --}}

                            <div class="row">
                                {{#each apartment.gallery }}
                                <div class="col s12 m3 l3">
                                    <img src="/gallery/{{ name }}" alt="{{ title }}" class="responsive-img">
                                </div>
                                
                            </div>

                            <div class="row">
                                <input type="submit" value="Update" class="btn right">
                            </div>

                        </div>
                    </div>
                </form>

            </div>