<div class="container-fluid">
    
    <div class="row">
                {{> _msg}}
    </div>


    <h3>Current Intro</h3>
    <div class="hr-1px"></div>

    <div class="row">
       
        {{#if intro }}
        <table class="striped">
        <thead>
          <tr>
              <th>Intro Title</th>
              {{!-- <th class="hide-on-small-only">Description</th> --}}
              <th>Author</th>
              <th>Status</th>
              <th colspan="2" class="center-align">Manage</th>
              
          </tr>
        </thead>

        <tbody>
            {{#each intro }}
          <tr>
            <td>{{ title }}</td>
            <td>{{ owner }}</td>
            {{!-- <td class="hide-on-small-only">{{ stripTags (truncate desc 100) }}</td> --}}
            <td>{{ status }}</td>
            <td class="right-align"> <a href="/admin/product-intro/{{ id }}" class="btn">Edit</a> </td>
            
            <td class="left-align">
                 <form action="/admin/product-intro/{{ id }}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">Delete</button>
            </form>
            
            

            </td>


          </tr>
           {{/each}}
            
        </tbody>
      </table>

        {{else}}
        <p>Currently is no apartment intro available!</p>
       {{/if}}
     

    </div>
</div>