<div class="container-fluid">

    <div class="row">
       {{!-- {{> _msg }} --}}
    </div>


    <h3>Current Services</h3>
    <div class="hr-1px"></div>
    <div class="row">
        <div class="left"></div>
        <a href="/admin/service/add">
            <div class="btn right">Add New Service</div>
        </a>
    </div>
    <div class="row">

        {{#if services }}

        <table class="striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Descriptions</th>
                    <th>Status</th>
                    <th colspan="2" class="center-align">Manage</th>

                </tr>
            </thead>

            <tbody>


                {{#each services }}


                <tr>
                    <td>
                        {{ order }}
                    </td>

                    <td>
                        <img src="/images/service/{{ imgUrl }}" alt="{{ imgUrl }}" class="responsive-img" style="width: 100px">
                    </td>
                    <td>{{{stripTags (truncate title 30)}}}</td>

                    <td>
                        {{{stripTags (truncate desc 50)}}}
                    </td>

                    <td>{{ status }}</td>

                    <td class="right-align">
                        <a href="/admin/service/{{ id }}" class="btn">Edit</a>
                    </td>
                    <td class="left-align">
                        <form action="/admin/service/{{ id }}?_method=DELETE" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">X</button>
                        </form>



                    </td>


                </tr>
                {{/each}}

            </tbody>
        </table>

        {{else}}
        <p>Currently is no services available!</p>
        {{/if}}


    </div>
</div>