<div class="container">


    <div class="row">

        <h4>Tour Management</h4>
        <div class="hr-1px"></div>
        <div class="col s12 m12 l12">

            <div class="row">
                <div class="col s12 m7 l7">
                    <div class="card white darken-1">
                        <div class="card-content gray-text">

                            <h5>{{ tour.title}}</h5>
                            <div class="hr-1px"></div>

                            <form action="/admin/tour/{{ tour.id }}?_method=PUT" method="post">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="row">
                                    <div class="input-field col s12 m12 l12">

                                        <input type="text" name="title" value="{{ tour.title }}">
                                        <label for="title">Tour Name</label>

                                    </div>
                                </div>

                                {{!--
                                <div class="row">
                                    <div class="input-field col s12 m12 l12">

                                        <input type="text" name="address" value="{{ apartment.address }}">
                                        <label for="address">Address</label>

                                    </div>
                                </div> --}}

                                <div class="row">

                                    <div class="input-field col s12 m12 l12">

                                        <h5>Descriptions</h5>
                                        <textarea id="desc" name="desc" class="materialize-textarea">{{ tour.desc }}</textarea>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m12 l12">
                                        <select name="status" id="status">
                                            {{#select tour.status }}

                                            <option value="Public" selected>Public</option>
                                            <option value="Private">Private</option>
                                            <option value="Unpublished">Unpublished</option>

                                            {{/select }}
                                        </select>
                                        <label for="status">Status</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <input type="submit" value="Update" class="btn right">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                {{!-- Single image upload --}}
                <div class="col s12 m5 l5">

                    {{> _image-upload-tour }}

                </div>


                {{!-- Gallery manage  --}}

                {{> _gallery-manage }}


                {{!-- Facilities --}}


              

            </div>


            {{!-- Facilitfies Manage --}}
            <div class="row">
                <div class="col s12 m12 l12">

                     {{> _brings }}

                </div>
               
            </div>


        {{!-- Contact Manage --}}

            <div class="row">
                <div class="col s12 m12 l12">

                     {{> _contact }}

                </div>
               
            </div>




            {{!-- Address --}}

            <div class="row">
                <div class="col s12 m12 l12">

                     {{> _contact-address }}

                     

                </div>
           </div>

           <div class="row">
                <div class="col s12 m12 l12">

                     {{> _geocode }}

                     

                </div>
           </div>



</div>

