<div class="container" style="padding: 10px">

<div class="row">

    {{> _msg}}

    
    
   <div class="row">
       {{> _transfer-add}}
   </div>
    
    <div class="row">
        
        <div class="col s12 m12 l12">

            <div class="card white darken-1">
                <div class="card-content gray-text">

                        <table class="highlight">
                            <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Sedan</th>
                                <th>SUV</th>
                                <th>Mini Bus</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                          
                            <tbody>

                            {{#each transfers }}
                            <tr>
                                
                                <td><p class="to-uppercase">{{ from }}</p> </td>
                                <td><p class="to-uppercase">{{ to }}</p></td>
                                <td>{{ sedan.sale }}</td>
                                <td>{{ suv.sale }}</td>
                                <td>{{ minibus.sale }}</td>
                                <td>{{ status }}</td>
                                <td><a href="/admin/transfer/edit/{{ id }}"> <button class="btn warn">Edit</button> </a></td>
                                <td>
                                    <form action="/admin/transfer/{{ id }}?_method=DELETE" method="post" id="delete-form">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn red">X</button>
                                    </form>
                                </td>
                                 
                            </tr>
                            {{/each}}
                            </tbody>
                    </table>

                <br>
        </div>
    </div>

    </div>
    </div>
</div>

</div>