<!-- Content Managment Menu Dropdown Structure -->
<ul id="content_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/welcomes">
            <i class="material-icons">dehaze</i>หน้าแรก</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/about">
            <i class="material-icons">fingerprint</i>เกี่ยวกับเรา</a>
    </li>

    <li class="divider"></li>
    <li>
        <a href="/admin/policy">
            <i class="material-icons">dehaze</i>เงื่อนไขและข้อกำหนดต่างๆ</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/contact">
            <i class="material-icons">perm_phone_msg</i>ข้อมูลติดต่อ</a>
    </li>


</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="category_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/category/main">
            <i class="material-icons">dehaze</i>หมวดหมู่สินค้าหลัก</a>
    </li>

    <li>
        <a href="/admin/category/sub">
            <i class="material-icons">dehaze</i>หมวดหมู่สินค้ารอง</a>
    </li>
    <li>
        <a href="/admin/category">
            <i class="material-icons">loyalty</i>หมวดหมู่สินค้าย่อย</a>
    </li>

</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="product_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/product-category">
            <i class="material-icons">dehaze</i>หมวดหมู่สินค้า</a>
    </li>

    <li>
        <a href="/admin/products">
            <i class="material-icons">loyalty</i>รายการสินค้า</a>
    </li>

</ul>


<!-- Content Managment Menu Dropdown Structure -->
<ul id="services_dropdown" class="dropdown-content">

    <li>
        <a href="/admin/service-category">
            <i class="material-icons">dehaze</i>หมวดหมู่บริการ</a>
    </li>

    <li>
        <a href="/admin/services">
            <i class="material-icons">loyalty</i>รายการบริการ</a>
    </li>

</ul>


<!-- Side-Nav Menu -->
<ul class="side-nav" id="main-menu">

    {{#if user}}

    <li>
        <a href="/">
            <i class="material-icons">apps</i>
            <div class="logo">
                {{!-- <img src="/images/logo-btp.png" alt="apdl.ca"> --}}
                <b>{{globalVars.name.wordone}}{{globalVars.name.wordtwo}}</b>
            </div>


        </a>
    </li>


    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="content_dropdown"><i
                class="material-icons right">arrow_drop_down</i>จัดการเนื้อหา

        </a>
    </li>



    <li class="divider"></li>

    <li>
        <a href="/admin/welcomes">
            <i class="material-icons">subject</i>หน้าแรก</a>
    </li>

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="category_dropdown"> <i
                class="material-icons right">arrow_drop_down</i>จัดการหมวดหมู่

        </a>
    </li>

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="product_dropdown"> <i
                class="material-icons right">arrow_drop_down</i>จัดการสินค้า

        </a>
    </li>

    <li class="divider"></li>

    <li>

        <a class="dropdown-button left-align" href="#!" data-activates="services_dropdown"> <i
                class="material-icons right">arrow_drop_down</i>จัดการบริการ

        </a>
    </li>



    <li class="divider"></li>
    <li>
        <a href="/geocode">
            <i class="material-icons">edit_location</i>Geo-Location Finder</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/logout">
            <i class="material-icons">exit_to_app</i>ออกจากระบบ</a>
    </li>



    {{else}}

    <li>
        <a href="/">
            <i class="material-icons">apps</i>
            <div class="logo">

                <b>{{globalVars.name.wordone}}{{globalVars.name.wordtwo}}</b>
            </div>


        </a>
    </li>

    <li>
        <a href="/">
            <i class="material-icons">flag</i>
            </i>หน้าแรก</a>
    </li>




    <li class="divider"></li>



    <li>
        <a href="/products">
            <i class="material-icons">loyalty</i>สินค้า</a>
    </li>

    <li class="divider"></li>


    <li>
        <a href="/services">
            <i class="material-icons">airport_shuttle</i>บริการ</a>
    </li>



    <li class="divider"></li>

    <li>
        <a href="/about">
            <i class="material-icons">fingerprint</i>
            </i>เกี่ยวกับเรา</a>
    </li>


    <li class="divider"></li>

    <li>
        <a href="/contact-us">
            <i class="material-icons">favorite</i>ติดต่อเรา</a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="/admin/login">
            <i class="material-icons">exit_to_app</i>เข้าจัดการระบบ</a>
    </li>

    <li class="divider"></li>





    {{/if}}





</ul>