<div class="row">

    {{> _msg}}

    <div class="row">
        <h3 class="header-text-01">Transfers Service Routes </h3>
        <div class="col s12 m8 l8">
            <div class="card white darken-1">
                <div class="card-content gray-text">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th class="to-uppercase">From</th>
                                <th class="to-uppercase">To</th>
                                <th class="to-uppercase" >Sedan</th>
                                <th class="to-uppercase">SUV</th>
                                <th class="to-uppercase">Mini Bus</th>
                            </tr>
                        </thead>

                        <tbody>

                            {{#each transfers }}
                            <tr>
                                <a href="/transfers-show/{{ id }}">
                                    <td><p class="to-uppercase">{{ from }}</p> </td>
                                    <td><p class="to-uppercase">{{ to }}</p></td>
                                    <td>
                                        <a href="/transfers/book/{{ id }}/?price={{ sedan.sale }}&from={{ from }}&type=Sedan&to={{ to }}" target="_blank" class="tooltipped" data-position="top" data-tooltip="Click for Booking">{{ sedan.sale }}</a>   
                                    </td>
                                    <td><a href="/transfers/book/{{ id }}/?price={{ suv.sale }}&from={{ from }}&type=SUV&to={{ to }}" target="_blank" class="tooltipped" data-position="top" data-tooltip="Click for Booking">{{ suv.sale }}</a></td>
                                    <td><a href="/transfers/book/{{ id }}/?price={{ suv.sale }}&from={{ from }}&type=Minibus&to={{ to }}" target="_blank" class="tooltipped" data-position="top" data-tooltip="Click for Booking">{{ minibus.sale }}</a></td>
                                </a>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>


       {{> _tour-category-list }}

    </div>
</div>