<div class="container">


    <div class="row">

        {{> _msg}}

        <div class="col s12 m12 l12" style="padding-left: 20px; padding-right: 20px">
            <h4>Current Routes</h4>
            <div class="hr-1px"></div>

       
            {{#if transfers}}

            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card white darken-1">
                        <div class="card-content gray-text">

                            <table class="bordered">
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    {{!--
                                    <th>Sedan</th>
                                    <th>SUV</th>
                                    <th>Minibus</th> --}}

                                    {{#if user}}
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    {{else}}

                                    <th>Sedan</th>
                                    <th>SUV</th>
                                    <th>Minibus(Van)</th>

                                    {{/if}}
                                </tr>

                                {{#each transfers}}
                                <tr>
                                    <td>{{from}}</td>
                                    <td>{{to}}</td>
                                    {{!--
                                    <td>Sedan</td>
                                    <td>SUV</td>
                                    <td>Minibus</td> --}}
                                    <td><a href="/transfers/edit/{{id}}">Edit</a> </td>
                                    <td>Delete</td>
                                </tr>
                                {{/each}}

                            </table>
                        </div>
                        <div class="card-action">
                          
                            <a href="#">Member Area</a>
                           
                            <a href="#">Package Promotion</a>
                            <a href="#">Discount</a>
                        </div>
                    </div>
                </div>
            </div>


            {{else}} No Route Found {{/if}}
        </div>


    </div>
</div>