<div style="padding: 10px">

<div class="row">

    {{> _msg}}


    <div class="row">
        <div style="padding-left: 40px">
            {{#each intro }}
            <h3>
                <p class="header-text-01" style="text-align: left; padding: 20px">{{ title }}</p>
            </h3>

            {{{ desc }}} 
            {{/each}}
        </div>

    </div>

    <div class="divider"></div>
    <br>
    <br> {{#each apartments }}
    <div class="row">
        <div class="col s12 m4 l4">

            <a href="/apartment-show/{{ id }}">
                <div class="card">
                    <div class="card-image">

                        <img class="responsive-img" src="/images/apartment/{{ imgUrl }}"> {{!--
                        <img class="responsive-img" src="/images/le-quatier/le-quartier-01.jpg"> --}} {{!--
                        <span class="card-title">5779 Av. De Lorimier</span> --}} {{!--
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a> --}}

                        <div class="card-footer blue-grey-text center-align">


                        </div>
                    </div>

                </div>
            </a>
        </div>




        <div class="col s12 m8 l8 ml-3">
            <a href="/apartment-show/{{ id }}">
                <h4 class="header-text-01">{{ title }}</h4>
                <a href="/apartment-show/{{ id }}">
                    {{!--
                    <p class="font-grey">{{ address }}</p> --}} {{#each locations }}

                    <p class="font-grey"><i class="material-icons meduim">place</i> {{!-- {{ title }} --}} {{ addr1 }} {{ city }} {{ province }} {{ state }} {{ country }} {{ postCode }}</p>

                    {{/each}}
                    <br>
                    <p class="font-grey">{{stripTags (truncate desc 300)}}</p>



                    <br>
                    <div class="btn blue btn-hor-effect right">More Infomation</div>
                </a>
                <br>
        </div>






    </div>

    <div class="divider"></div>
    <br>
    <br> {{/each}}

</div>

</div>