<nav class="blue darken-3">
    <div class="container">

        <!-- Content Managment Menu Dropdown Structure -->
        <ul id="content_dropdown" class="dropdown-content">
             <li>
                  
                    <a href="/contents">
                        <i class="material-icons">view_list</i>Content List</a>
                </li>

                <li>
                    <a href="/contents/add">
                        <i class="material-icons">playlist_add</i>Add Content</a>
                </li>


                <li>
                    <a href="#">
                        <i class="material-icons">add_location</i>Company Info</a>
                </li>

        </ul>

        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">OceanTour</a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="material-icons medium">menu</i>
            </a>

            <!-- Right Navbar -->
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-user-o"></i> {{user.firstName}}</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i>Logout</a>
                </li>
                {{else}}
                <li>

                    <a href="/stories">
                        <i class="material-icons">forum</i>
                    </a>
                </li>
                {{!--
                <li>
                    <a href="/auth/google">
                        <i class="fa fa-sign-in"></i> Login</a>
                </li> --}} {{/if}}
            </ul>

            <!-- Side-Nav Menu -->
            <ul class="side-nav" id="main-menu">

                {{#if user}}
                <li>
                    {{!-- padding property padding: top right bottom left --}}
                    <div style="text-align:center; padding: 30px 0 30px 0">
                        <div class="chip" style="display: inline-block; text-align: center">
                            <img src="{{user.image}}" alt="user image"> {{user.firstName}} {{user.lastName}}
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/dashboard">
                        <i class="material-icons">tune</i>My Dashboard</a>
                </li>

                <li>
                    <a href="/stories">
                        <i class="material-icons medium">forum</i>Stories</a>
                </li>
                
               
                {{!--
                <li>
                    <a href="#">
                        <i class="material-icons">loyalty</i>One Day Trip</a>
                </li> --}} {{!--
                <li class="divider"></li> --}} {{!--
                <li>
                    <a href="#">
                        <i class="material-icons">brightness_1</i>
                        </i>Fullmoon Party</a>
                </li>

                <li>
                    <a href="#">
                        <i class="material-icons">brightness_2</i>Haftmoon Festival</a>
                </li> --}}

                <li class="divider"></li>

                <li>
                  <a class="dropdown-button" href="#!" data-activates="content_dropdown">Content Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li class="divider"></li>

                 <li> 
                  <a href="/tours">
                        <i class="material-icons">explore</i>Tour Package List</a>
                </li>

                <li>
                    <a href="#">
                        <i class="material-icons">local_taxi</i>Transfers Service List</a>
                </li>

                

                
                <li class="divider"></li>

                <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Get in Touch</a>
                </li>

                {{else}}

                <li>
                    <a class="btn red darken-1" href="/auth/google">
                        <i class="fa fa-google"></i> Login with Google</a>
                </li>

                <li>
                    <a href="/stories">
                        <i class="material-icons medium">forum</i> Public Adventure Stories</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/tours">
                        <i class="material-icons">explore</i>Tour Package</a>
                </li>
                <li>
                    <a href="/tours">
                        <i class="material-icons">local_taxi</i>Transfers Service</a>
                </li>

                <li>
                    <a href="/tours">
                        <i class="material-icons">loyalty</i>One Day Trip</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="/tours">
                        <i class="material-icons">brightness_1</i>
                        </i>Fullmoon Party</a>
                </li>

                <li>
                    <a href="/tours">
                        <i class="material-icons">brightness_2</i>Haftmoon Festival</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Get in Touch</a>
                </li>



                {{/if}} {{#if user}} {{!--
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-cogs"></i>Dashboard</a>
                </li> --}} {{!--
                <li>
                    <a href="/stories/my-stories">
                        <i class="fa fa-comments-o"></i> My Stories</a>
                </li> --}}
                <li>
                    <a href="/auth/logout">
                        <i class="material-icons">exit_to_app</i>Logout</a>
                </li>

                {{/if}}
            </ul>

        </div>
    </div>
</nav>