<nav class="blue darken-3">
    <div class="container">

         <!-- Category Managment Menu Dropdown Structure -->
        <ul id="category_dropdown" class="dropdown-content">
            <li>
                <a href="/admin/category-list">
                    <i class="material-icons">view_list</i>Category List</a>
            </li>

            <li>
                <a href="/admin/category-add">
                    <i class="material-icons">playlist_add</i>Add Category</a>
            </li>

        </ul>

        <!-- End Category dropdown -->


        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">APDL.CA</a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="material-icons medium">menu</i>
            </a>

            <!-- Right Navbar -->
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-user-o"></i> {{user.firstName}}</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i>Logout</a>
                </li>
                {{else}}
                <li>

                    <a href="/contact-us">
                        <i class="material-icons">call</i>
                        {{!-- put ph no. --}}
                    </a>
                </li>
                {{!--
                <li>
                    <a href="/auth/google">
                        <i class="fa fa-sign-in"></i> Login</a>
                </li> --}} {{/if}}
            </ul>

            <!-- Side-Nav Menu -->
            <ul class="side-nav" id="main-menu">

                {{#if user}}
                <li>
                    {{!-- padding property padding: top right bottom left --}}
                    <div style="text-align:center; padding: 30px 0 30px 0">
                        <div class="chip" style="display: inline-block; text-align: center">
                            <img src="{{user.image}}" alt="user image"> {{user.firstName}} {{user.lastName}}
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/dashboard">
                        <i class="material-icons">tune</i>My Dashboard</a>
                </li>

                <li>
                    <a href="/stories">
                        <i class="material-icons medium">forum</i>My Stories</a>
                </li>

                 <li class="divider"></li>

                <li>
                    <a class="dropdown-button" href="#!" data-activates="category_dropdown">Category Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                

                <li class="divider"></li>

                <li>
                    <a class="dropdown-button" href="#!" data-activates="content_dropdown">Content Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a class="dropdown-button" href="#!" data-activates="tours_dropdown">Tours Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a class="dropdown-button" href="#!" data-activates="vehicle_dropdown">Vehicle Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li class="divider"></li>


                <li>
                    <a class="dropdown-button" href="#!" data-activates="transfers_dropdown">Transfers Management
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

                <li class="divider"></li>


                <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Get in Touch</a>
                </li>

                {{else}}

                <li>
                    <a href="/about">
                        <i class="material-icons">apps</i>
                        </i>APDL.CA</a>
                </li>

                {{!-- <li>
                    <a href="/stories">
                        <i class="material-icons medium">forum</i> Public Adventure Stories</a>
                </li> --}}
                <li class="divider"></li>
                

               

                <li>
                    <a href="/about">
                        <i class="material-icons">fingerprint</i>
                        </i>À Propos</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="/apartments">
                        <i class="material-icons">domain</i>Appartements</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="/contact-us">
                        <i class="material-icons">favorite</i>Nouse Joindre</a>
                </li>



                {{/if}} {{#if user}} {{!--
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-cogs"></i>Dashboard</a>
                </li> --}} {{!--
                <li>
                    <a href="/stories/my-stories">
                        <i class="fa fa-comments-o"></i> My Stories</a>
                </li> --}}
                <li>
                    <a href="/auth/logout">
                        <i class="material-icons">exit_to_app</i>Logout</a>
                </li>

                {{/if}}
            </ul>

        </div>
    </div>
</nav>