<div class="row">

    {{> _msg}}

    <div class="row">
        <h3>Transfers Service Routes </h3>
        <div class="col s12 m8 l8">
            <div class="card white darken-1">
                <div class="card-content gray-text">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Sedan</th>
                                <th>SUV</th>
                                <th>Mini Bus</th>
                            </tr>
                        </thead>

                        <tbody>

                            {{#each transfers }}
                            <tr>
                                <a href="/transfers-show/{{ id }}">
                                    <td><p class="to-uppercase">{{ from }}</p> </td>
                                    <td><p class="to-uppercase">{{ to }}</p></td>
                                    <td><a href="#">{{ sedan.sale }}</a></td>
                                    <td><a href="#">{{ suv.sale }}</a></td>
                                    <td><a href="#">{{ minibus.sale }}</a></td>
                                </a>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>


       {{> _tour-category-list }}

    </div>
</div>