<div class="container-fluid top-title-header">
    <div class="container">
        ข้อมูลติดต่อ
    </div>
    <div class="divider"></div>
    <br>
    <div class="container">


        <div class="row">
            <div class="input-field col s12">
                {{#if errors}}
                <div class="card-panel red lighten-4">
                    {{#each errors}} {{error}}
                    <br> {{/each}}
                </div>
                {{/if}} {{#each successMsg}}

                <div class="card-panel green lighten-4">
                    {{success}}
                </div>
                {{/each}}
            </div>
        </div>




        <div class="row">



            <div class="col s12 m4 l4"></div>


            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text">

                        <div class="row">
                            <div class="input-field col s12 m6 l6">

                                <input type="text" name="title" value="{{ contact.title}}" readonly>
                                <label for="title">Title</label>

                            </div>

                        </div>


                        <div class="row">

                            <div class="input-field col s12 m12 l12">
                                {{!-- <img src="/images/{{ contact.imgUrl }}" alt="{{ contact.imgUrl }}" class="responsive-img" style="padding: 20px"> --}}
                                {{!-- {{> _image-upload-contact }} --}}
                            </div>

                        </div>

                        <div class="row header-text-01">

                            <h5>Phone</h5>
                            <div class="hr-1px-p10"></div>
                            <div class="col s12 m2 l2">
                                <p>
                                    <i class="material-icons">call</i>
                                    </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <a class="blue-grey-text" href="tel:{{ contact.phone1 }}">{{ contact.phone1 }}</a>
                                </h5>
                                <h5>
                                    <a class="blue-grey-text" href="tel:{{ contact.phone2 }}">{{ contact.phone2 }}</a>
                                </h5>
                                <h5>
                                    <a class="blue-grey-text" href="tel:{{ contact.phone2 }}">{{ contact.phone2 }}</a>
                                </h5>
                                <h5>
                                    <a class="blue-grey-text" href="tel:{{ contact.phone2 }}">{{ contact.phone2 }}</a>
                                </h5>
                            </div>

                        </div>

                        <div class="row header-text-01">

                            <h5>Fax</h5>
                            <div class="hr-1px-p10"></div>
                            <div class="col s12 m2 l2">
                                <p>
                                    <i class="material-icons">call</i>
                                    </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <a class="blue-grey-text" href="tel:{{ contact.fax }}">{{ contact.fax }}</a>
                                </h5>

                            </div>

                        </div>



                        <div class="row header-text-01">
                            <h5>Email</h5>
                            <div class="hr-1px-p10"></div>

                            <div class="col s12 m2 l2">
                                <h5>
                                    <i class="material-icons">drafts</i>
                                </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <a class="blue-grey-text"
                                        href="mailto:{{ contact.email }}?Subject=Enquiry from samuioceantour.com">{{ contact.email }}</a>
                                </h5>
                            </div>

                        </div>

                        <div class="row header-text-01">
                            <h5>WhatsApp</h5>
                            <div class="hr-1px-p10"></div>

                            <div class="col s12 m2 l2">
                                <h5>

                                    <i class="material-icons">call</i>

                                </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <a class="blue-grey-text" href="#">{{ contact.whatsapp }}</a>
                                </h5>

                            </div>


                        </div>

                        <div class="row header-text-01">
                            <h5>Skype</h5>
                            <div class="hr-1px-p10"></div>
                            <div class="col s12 m2 l2">
                                <h5>
                                    <i class="material-icons">call</i>
                                </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <a class="blue-grey-text" href="#">{{ contact.skype }}</a>
                                </h5>
                            </div>

                        </div>

                        <div class="row header-text-01">
                            <h5>Website</h5>
                            <div class="hr-1px-p10"></div>
                            <div class="col s12 m2 l2">
                                <h5>
                                    <i class="material-icons">cloud</i>
                                </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <a class="blue-grey-text" href="#">{{ contact.website }}</a>
                                </h5>
                            </div>

                        </div>




                        <div class="row header-text-01">
                            <h5>Address</h5>
                            <div class="hr-1px-p10"></div>
                            <div class="col s12 m2 l2">
                                <h5>
                                    <i class="material-icons">location_on</i>
                                </h5>
                            </div>
                            <div class="col s12 m10 l10">
                                <h5>
                                    <p class="blue-grey-text" href="#">
                                        {{ contact.addr1 }}
                                        <br>
                                        <span>{{ contact.addr2 }}</span>
                                        <br>
                                        <span>{{ contact.addr3 }}</span>
                                        <br>
                                </h5>
                                </h5>
                            </div>

                        </div>

                        <div class="row header-text-01">
                            <h5>Maps</h5>
                            <div class="hr-1px-p10"></div>

                            <div class="col s12 m12 l12">
                                <div class="row">
                                    <div class="input-field col s12 m5 l5">
                                        <input type="text" name="lat" value="{{ contact.lat }}" disabled>
                                        <label for="lat">Latitude</label>
                                    </div>
                                    <div class="input-field col s12 m5 l5">
                                        <input type="text" name="lng" value="{{ contact.lng }}" disabled>
                                        <label for="lng">Longitude</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div style="padding: 5px">
                                        {{> _maps-contact }}
                                    </div>

                                    {{!-- <img src="/images/{{ contact.imgUrl }}" alt="{{ contact.imgUrl }}" class="responsive-img"> --}}
                                </div>

                            </div>

                        </div>

                        <div class="right-align">
                            <a href="/admin/contact/{{ contact.id }}" class="btn">Edit</a>
                        </div>

                    </div>



                </div>


                </form>

            </div>



        </div>
    </div>