<div class="container-fluid top-title-header">
  <div class="container">
    {{ sectionTitle }}
  </div>
  <div class="divider"></div>
  <br>
  <div class="container">
    <div class="row">
      <div class="left"></div>
      <a href="/admin/policy/add">
        <div class="btn right">เพิ่มเงื่อนไข</div>
      </a>
    </div>
    <div class="row">
    </div>

  </div>
</div>

<div class="container">

  <div class="row">
    {{> _msg}}
  </div>

  <div class="row">

    {{#if policy }}
    <table class="striped">
      <thead>
        <tr>
          <th>หัวข้อ</th>
          <th class="hide-on-small-only">รายละเอียด</th>
          <th>สถานะ</th>
          <th colspan="2" class="right-align">จัดการ</th>

        </tr>
      </thead>

      <tbody>
        {{#each policy }}
        <tr>
          <td>{{ title }}</td>
          <td class="hide-on-small-only">{{ stripTags (truncate desc 100) }}</td>
          <td>{{ status }}</td>
          <td class="right-align"> <a href="/admin/policy/{{ id }}" class="btn">แก้ไข</a>
            <form action="/admin/policy/{{ id }}?_method=DELETE" method="post" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red">ลบ</button>
            </form>
          </td>


        </tr>
        {{/each}}

      </tbody>
    </table>

    {{else}}
    <p>Currently is no apartment intro available!</p>
    {{/if}}


  </div>
</div>