<div class="container">

    <div class="row">
        {{!-- {{> _msg }} --}}
    </div>


    <h3>รายการสินค้า</h3>
    <div class="hr-1px"></div>
    <div class="row">
        <div class="left"></div>
        <a href="/admin/product/add">
            <div class="btn right">เพิ่มสินค้า</div>
        </a>
    </div>
    <div class="row">

        {{#if products }}

        <table class="striped">
            <thead>
                <tr>
                    <th>รูปภาพ</th>
                    <th>สินค้า</th>
                    <th>รายละเอียด</th>
                    <th>สภานะ</th>
                    <th colspan="2" class="center-align">จัดการ</th>

                </tr>
            </thead>

            <tbody>


                {{#each products }}


                <tr>
                    <td>
                        <img src="/images/product/{{ imgUrl }}" alt="{{ imgUrl }}" class="responsive-img"
                            style="width: 100px">
                    </td>
                    <td>{{ title }}</td>

                    <td>


                        {{{ stripTags (truncate desc 50) }}}


                    </td>

                    <td>{{ status }}</td>

                    <td class="right-align">
                        <a href="/admin/product/{{ id }}" class="btn">แก้ไข</a>
                    </td>
                    <td class="left-align">
                        <form action="/admin/product/{{ id }}?_method=DELETE" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">X</button>
                        </form>



                    </td>


                </tr>
                {{/each}}

            </tbody>
        </table>

        {{else}}
        <p>ยังไม่มีสินค้าในหมวดนี้!</p>
        {{/if}}


    </div>
</div>