<div class="container-fluid top-title-header">
    <div class="container">
        {{#if sectionTitle}}
        {{sectionTitle}}
        {{else}}
        หน้าแรก
        {{/if}}
    </div>
    <div class="divider"></div>
    <div class="container">
        <br>
        <div class="row">
            <div class="left"></div>
            <a href="/admin/welcomes/add">
                <div class="btn right">เพิ่ม</div>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="container">
        <div class="row">
            {{!-- {{> _msg }} --}}
        </div>

        <h3>Current welcome page</h3>
        <div class="hr-1px"></div>
        {{!-- <div class="row">
            <div class="left"></div>
            <a href="/admin/welcome/add">
                <div class="btn right">Add New Package</div>
            </a>
        </div> --}}
        <div class="row">

            {{#if welcomes }}

            <table class="striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th colspan="2" class="center-align">Manage</th>

                    </tr>
                </thead>

                <tbody>

                    {{#each welcomes }}

                    <tr>
                        <td>
                            <img src="/images/welcome/{{ imgUrl }}" alt="{{ imgUrl }}" class="responsive-img"
                                style="width: 100px">
                        </td>
                        <td>{{ title }}</td>

                        <td>
                            {{#if locations }}
                            {{#each locations }}

                            {{ title }} {{ addr1 }} {{ addr2 }} {{ district }} {{ city }} {{ state }} {{ country }}
                            {{ postCode }}

                            {{/each}}

                            {{else}}

                            No Location found, Please add

                            {{/if}}
                        </td>

                        <td>{{ status }}</td>

                        <td class="right-align">
                            <a href="/admin/welcome/{{ id }}" class="btn">Edit</a>
                        </td>
                        <td class="left-align">
                            <form action="/admin/welcome/{{ id }}?_method=DELETE" method="post" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn red">X</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>

            {{else}}
            <p>Currently is no welcome page available!</p>
            {{/if}}
        </div>

    </div>
</div>