
    <h1>Welcome {{user.firstName}}</h1>
    

    {{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Story Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
           <tbody>
               {{#each stories}}
               <tr>
                   <td> <a href="/stories/show/{{id}}">{{title}}</a> </td>
                   <td>{{ formatDate date 'Do MMMM YYYY'}}</td>
                   <td><span class="text-capitalize">{{status}}</span></td>
                   <td>
                       <a href="/stories/edit/{{id}}" class="btn"> <i class="fa fa-pencil"></i></a>

                       <form action="/stories/{{id}}?_method=DELETE" method="post" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red"> <i class="fa fa-remove"></i></button>
                       </form>
                       
                   </td>
                   
               </tr>
                {{/each}}
           </tbody>
    </table>
    
    {{else}}
        <p>No story</p>
   {{/if}}

