 {{!-- <br>
<br> {{> _header-intro }} --}}
<div class="container-fluid">
    

    <div class="card" style="margin-top: 20px">
                    <div class="card-image">

                        <img class="responsive-img" src="/images/product/banner/{{ product.productBannerImgUrl }}" style="height: 300px" alt="{{ product.productBannerImgUrl }}"> 
                        <div class="card-footer blue-grey-text center-align">

                        </div>
                    </div>

    </div>

   
       <h4 class="header-text-01">
                {{ product.title }}
        </h4>
   
    
    <div class="row">
        <div class="col s12 m12 l12">
            <br>
            <p class="header-text-01">
                {{{ product.desc }}}
            </p>

            <br>  
            

            
            



            <br>


        </div>

        <div class="row">
            <div class="col s12 m6 l6">
                {{> _product-include }} 
            
            </div>

             <div class="col s12 m6 l6">
               
                {{> _product-exclude }}
            </div>
        </div>

        {{!--
        <div class="col s12 m1 l1"></div> --}}

        
{{!--
        <div class="col s12 m4 l4">

            <br> {{#if product.subcontact }} {{#each product.subcontact }}

            <div class="row" style="background-color: #eee ">
                <div class="col s12 m12 l12">
                    <p class="header-text-01">
                        <h5>{{ title }}</h5>
                        <div class="divider"></div>
                        <p class="blue-grey-text">
                            <b>Contact: </b> {{ person }}</p>
                        <p>
                            <a class="blue-grey-text" href="tel:{{ phone }}">
                                <b>Tel: </b> {{ phone }}</a>
                        </p>
                        <p class="blue-grey-text">
                            <b>WhatsApp:</b> {{ whatsapp}}</p>
                        <p class="blue-grey-text">
                            <b>Skype: </b> {{ skype }}</p>
                        <p>
                            <a class="blue-grey-text" href="mailto: {{email}} ?Subject=Enquiry from Website">
                                <b>Email: </b> {{ email }}</a>
                        </p>
                        <p class="blue-grey-text">
                            <b>Working Hour: </b>
                            <br>{{ workingHour }} </p>

                    </p>
                </div>

            </div>


            {{/each}} {{/if}} {{#if product.locations }} {{> _maps-location }} {{/if}}
        </div>--}}


    </div>
   
    <div class="row">
        <div class="col s12 m12 l12">
            {{> _product-gallery }}
            {{!-- {{> _product_book_form}} --}}
        </div>
        </div>
   

   
</div> 
{{!--end container--}}