 {{!-- <br>
 <br>
 {{> _header-intro }} --}}
<div class="container">
   
<h4>
    {{ tour.title }}
</h4>


<p class="font-grey"><i class="material-icons small">place</i> {{#each tour.locations }} {{!-- {{ title }} --}} {{ addr1 }} {{ addr2 }} {{ district }} {{ city }} {{ province }} {{ country
    }} {{ postCode }} {{/each }}

</p>
<br>



{{> _tour-gallery }}

<div class="row">
    <div class="col s12 m8 l8">
        <p class="header-text-01">
            {{{ tour.desc }}}
        </p>

        <br>
        {{> _itinerary-list }}
        
        {{> _tour-include }}

         {{> _tour-exclude }}
        
        <h5>What's to Brings</h5>
        
        <div class="divider"></div>
        <br>
        <div class="row">
            {{#each tour.brings}}
            <div class="col s12 m6 l6">

                <div class="col s12 m12 l12">

                    <div class="col s2 m2 l2">

                        <i class="material-icons">check</i>

                    </div>
                    <div class="col s10 m10 l10">

                        {{ title }}

                    </div>

                </div>

                


            </div>
            {{/each}}
            <br>
            <br>

        </div>
        <br>
        <br>
         <div>
             {{!-- <a href="mailto:seaflyers@hotmail.com?Subject=Enquiry from samuioceantour.com"> --}}
            <button class="btn btn-sucess" style="inline-block">
                Book Now
                {{#if tour.price.sale }}
                {{ tour.price.sale }}.00 Baht
                {{/if}}
                
        </button>
        {{!-- </a> --}}
    </div>
    <br>


    </div>

    {{!--
    <div class="col s12 m1 l1"></div> --}}

    <div class="col s12 m4 l4">
       
        {{#if tour.subcontact }}
        {{#each tour.subcontact }}

        <div class="row" style="background-color: #eee ">
            <div class="col s12 m12 l12">
                <p class="header-text-01">
                    <h5>{{ title }}</h5>
                    <div class="divider"></div>
                    <p class="blue-grey-text">
                        <b>Contact: </b> {{ person }}</p>
                    <p>
                        <a class="blue-grey-text" href="tel:{{ phone }}">
                            <b>Tel: </b> {{ phone }}</a>
                    </p>
                    <p class="blue-grey-text">
                        <b>WhatsApp:</b> {{ whatsapp}}</p>
                    <p class="blue-grey-text">
                        <b>Skype: </b> {{ skype }}</p>
                    <p>
                        <a class="blue-grey-text" href="mailto: {{email}} ?Subject=Enquiry from APDL.CA">
                            <b>Email: </b> {{ email }}</a>
                    </p>
                    <p class="blue-grey-text">
                        <b>Working Hour: </b>
                        <br>{{ workingHour }} </p>

                </p>
            </div>

        </div>
    

        {{/each}}
        {{/if}}

    {{#if tour.locations }} 
       {{> _maps-location }}
    {{/if}}
    </div>
</div>




<div class="row">




    <div class="col s12 m8 l8">
        <div class="row">

            <div class="col s12 m6 l6">
                <img src="" alt="">
            </div>

            <div class="col s12 m6 l6">

            </div>

        </div>
    </div>
</div>
</div>