<div class="container-fluid top-title-header">
    <div class="container">
        ค่าเริ่มต้นเว็บไซร์
    </div>
    <div class="divider"></div>
    <div class="container">
        <br>
        <div class="row">
            <div class="left"></div>
            <a href="/admin/global">
                <div class="btn right" style="padding-right: 10px">กลับหน้าหลัก</div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        {{> _msg}}

        <div class="col s12 m12 l12">

            <div class="col s12 m12 l12">
                <div class="card white darken-1">
                    <div class="card-content gray-text">

                        <form action="/admin/global" method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="input-field col s6 m6 l6">

                                    <input type="text" name="wordone" value={{ global.name.wordone}}>
                                    <label for="wordone">ชื่อเว็บไซร์#1 (*Required)</label>

                                </div>
                                <div class="input-field col s6 m6 l6">

                                    <input type="text" name="wordtwo" value={{ global.name.wordtwo}}>
                                    <label for="wordtwo">ชื่อเว็บไซร์#2 (*Required)</label>

                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s12 m12 l12">

                                    <input type="text" name="slogan" value={{ global.slogan }}>
                                    <label for="slogan">Slogan (*Required)</label>

                                </div>

                            </div>


                            <div class="row">

                                <div class="input-field col s12 m12 l12">

                                    <h5>คำอธิบายเว็บไซร์</h5>
                                    <textarea id="desc" name="desc"
                                        class="materialize-textarea">{{ global.desc }}</textarea>

                                </div>

                            </div>

                            {{!-- <div class="row">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Logo Image</span>
                                        <input type="file" name="logo" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div> --}}


                            {{!-- <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="category" id="category">

                                        <option value="NoCategory" selected>เลือกหมวดหมู่</option>
                                        {{#each categories}}
                                        <option value={{title}}>{{title}}</option>
                                        {{/each}}
                                        <ect></ect>
                                        <ect></ect>
                                    </select>
                                    <label for="category">หมวดหมู่</label>
                                </div>
                            </div> --}}

                            <div class="row">
                                <div class="input-field col s12 m12 l12">
                                    <select name="status" id="status">

                                        <option value="Public" selected>Public</option>
                                        <option value="Private">Private</option>
                                        <option value="Unpublished">Unpublished</option>

                                        <ect></ect>
                                        <ect></ect>
                                    </select>
                                    <label for="status">สถานะ</label>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" value="Add" class="btn right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>