<div class="container">
    <h1>Journey Story</h1>
    {{!-- <div class="divider"></div> --}}
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card">
                <div class="card-content text-grey darken-4">
                    <div class="card-title">{{story.title}}</div>
                   
                    <p>{{{story.body}}}</p>
                    <br>
                    <p>Story created date: <small>{{formatDate story.date 'Do MMMM YYYY'}}</small></p>
                </div>
                
                <div class="card-action"></a></div>
            </div>

            {{#if story.allowComments }}

        <div class="card">
            <div class="card card-content">
                <span class="card-title">
                    {{#if user}}
                
                    <form method="post" action="/stories/comment/{{story.id}}">
                    <div class="input-field">
                        <label>Add your comment here.</label>
                        <textarea name="commentBody" id="commentBody" class="materialize-textarea"></textarea>
                        
                    </div>
                    <div >
                        <input type="Submit" value="Submit" class="btn">
                    </div>
                        
                    
                    </form>

                    {{else}}
                        <p>Please log in to lave a comment <a href="/auth/google">Login</a></p>
                    {{/if}}
                </span>
            </div>
        </div>

        {{#each story.comments }}
            <div class="card">
                <div class="card-content" style="padding-bottom: 30px">
                    
                    <p>" {{commentBody}} "</p>   
                    
                </div>

            <div class="card-action">  
                <div class="chip" style="display: inline-block">
                        <img src="{{commentUser.image}}" alt="user image"> {{commentUser.firstName}} {{commentUser.lastName}}
                </div>
                <p style="display: inline-block; float: right">Comment date: <small>{{formatDate story.date 'Do MMMM YYYY'}}</small></p></div>

            </div>
         {{/each}}   
        {{/if }}
        
        </div>

        

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-content center-align">
                    <img src="{{story.user.image}}" class="circle responsive-img" alt="Story Author">
                    <br>
                    {{story.user.firstName}} {{story.user.lastName}}
                    
                </div>
                <div class="card-action"><a href="/stories/{{story.user.id}}">More story from {{story.user.firstName}}</a></div>
            </div>

        </div>
    </div>
</div>