<div class="container">

    <div class="row">
        <div class="container">
            <h4>Edit Tour Package</h4>
            <br> {{> _msg}}
            <form action="/tours/{{tour.id}}?_method=PUT" method="post">
                <input type="hidden" name="_method" value="PUT">
                <div class="row">
                    <div class="input-field">
                        <input type="text" name="title" value="{{tour.title}}">
                        <label for="title">Title</label>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field">
                        <select name="status" id="status">
                            {{#select tour.status}}
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                            <option value="unpublished">Unpublished</option>
                            {{/select}}
                        </select>
                        <label for="status">Status</label>
                    </div>
                </div>

                <div class="row">
                    <p>
                        <input type="checkbox" class="filled-in" id="filled-in-box" name="allowComments" {{#if tour.allowComments}} checked="checked"
                            {{/if}}>
                        <label for="filled-in-box">Allow Comments</label>
                    </p>
                </div>

                <div class="row">
                    <div class="input-field">
                        <h5>Tour Description</h5>
                        <textarea type="text" name="body">{{tour.body}}</textarea>

                    </div>

                </div>
                <div class="row">
                    <input type="submit" value="Save" class="btn right">
                </div>

            </form>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <h4>Current Price</h3>
                <div class="hr-1px"></div>


                {{#if tourRate}}

                <form action="/tours/price-rate/{{tour.id}}?_method=PUT" method="post">
                <input type="hidden" name="_method" value="PUT">
                    {{#each tour.price}}
                    <div class="row">

                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="sale" value="{{sale}}" >
                            <label for="net">Sale Price</label>
                        </div>

                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="member" value="{{member}}" >
                            <label for="member">Member Price</label>
                        </div>

                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="promotion" value="{{promotion}}" >
                            <label for="promotion">Promotion Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="discount" value="{{discount}}" >
                            <label for="discount">Discount Price</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="net" value="{{net}}" >
                            <label for="net">Net Price</label>
                        </div>

                    </div>

                        {{/each}}



                        <div class="row">
                            <input type="submit" value="Update Price" class="btn right">
                        </div>

                </form>

                </div>

                {{else}}


                <form action="/tours/price-rate/{{tour.id}}" method="post">


                    <div class="row">

                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="sale">
                            <label for="net">Sale Price</label>
                        </div>

                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="member" value="{{member}}">
                            <label for="member">Member Price</label>
                        </div>

                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="promotion" value="{{promotion}}">
                            <label for="promotion">Promotion Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="discount" value="{{discount}}">
                            <label for="discount">Discount Price</label>
                        </div>
                        <div class="input-field col s12 m4 l4">
                            <input type="text" name="net" value="{{net}}">
                            <label for="net">Net Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="Add Price" class="btn right">
                    </div>

                </form>



                {{/if}}

        </div>
</div>
    </div>