<div class="container">
    <h3>Tour Packages</h3>
    <div class="hr-1px"></div>

    {{> _msg}}

    {{#if user}}

    <div class="row">

        {{#if tours}}
        <table class="striped">
            <thead>
                <tr>
                    <th>Tours Title</th>
                    {{!-- <th>Date</th> --}}
                    <th>Sale Price</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tours}}
                <tr>
                    <td>
                        <a href="/tours/show/{{id}}">{{title}}</a>
                    </td>
                    <td>{{#each price}}{{sale}}{{/each}}</td>
                    {{!-- <td>{{ formatDate date 'Do MMMM YYYY'}}</td> --}}
                    <td>
                        <span class="text-capitalize">{{status}}</span>
                    </td>
                    <td>
                        <a href="/tours/edit/{{id}}" class="btn">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <form action="/tours/{{id}}?_method=DELETE" method="post" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fa fa-remove"></i>
                            </button>
                        </form>

                    </td>

                </tr>
                {{/each}}
            </tbody>
            </table>
        {{else}}
        <p>No Tour Package</p>
        {{/if}}
    {{else }} <!-- if not login --> 

    <div class="row">
        {{#each tours}}
        <div class="col s12 m6 l6">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/{{imgUrl}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{title}}
                        <i class="material-icons medium right">info</i>
                    </span>
                    <p>
                        <a class="btn green darken-1" href="/reservations">
                          {{#each price}} 
                            Price {{sale}}.00 Baht</a>
                        {{/each}}
                         </a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{title}}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{{body}}}</p>



                </div>
            </div>

        </div>

    {{/each}} 

      </div>

    {{/if}} 
        

    </div>