<div class="container">
    <h1>Tour Package</h1>
    {{!-- <div class="divider"></div> --}}
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card">
                <div class="card-content text-grey darken-4">
                    <div class="card-title">{{tour.title}}</div>
                   
                    <p>{{{tour.body}}}</p>
                    <br>
                    <p>tour created date: <small>{{formatDate tour.date 'Do MMMM YYYY'}}</small></p>
                </div>
                
                <div class="card-action"></a></div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-content center-align">
                    <img src="{{tour.user.image}}" class="circle responsive-img" alt="tour Author">
                    <br>
                    {{tour.user.firstName}} {{tour.user.lastName}}
                    
                </div>
                <div class="card-action"><a href="/stories/{{tour.user.id}}">More tour from {{tour.user.firstName}}</a></div>
            </div>

        </div>
    </div>
</div>