<div class="container">

    <div><h1>Reservations with us</h1></div>
    
    <div class="hr-1px"></div>

     <div class="row">
                <div class="input-field col s12">
                    {{#if errors}}
                    <div class="card-panel red lighten-4">
                        {{#each errors}} {{error}}
                        <br> {{/each}}
                    </div>
                    {{/if}} {{#each successMsg}}

                    <div class="card-panel green lighten-4">
                        <h3>
                            <p style="text-align: center"> {{thankYou}} </p>
                        </h3>
                        <p style="text-align: center">{{success}}</p>
                    </div>
                    {{/each}}
                </div>
    </div>

    <div class="row">
        <form action="/mail/reservations" method="post">

             <div class="row">
                <div class="input-field col s12 m6 l6">
                    <i class="material-icons prefix">art_track</i>
                    <select name="choosePackage">
                        <option value="" disabled selected>Choose package</option>
                        <option value="Fullmoon Party">Fullmoon Party</option>
                        <option value="Haftmoon Party">Haftmoon Party</option>
                        <option value="Angthong Nation Marine Park">Angthong Nation Marine Park</option>
                        <option value="Koh Nangyuan & Koh Tao">Koh Nangyuan & Koh Tao</option>
                        <option value="Around Samui Island Trip">Around Samui Island Trip</option>
                    </select>
                    <label>Tour Packages List</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="firstName" name="firstName" type="text" class="validate" value="{{firstName}}">
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="lastName" name="lastName" type="text" class="validate" value="{{lastName}}">
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="toEmail" name="toEmail" type="email" class="validate" value="{{toEmail}}">
                    <label for="toEmail" data-error="Email address is invallid" data-success=":)">Email</label>
                </div>
            </div>

           

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">drafts</i>
                    <textarea value="You message here" id="emailBody" name="emailBody" class="materialize-textarea">{{emailBody}}</textarea>
                    <label for="emailBody">Message</label>
                </div>
            </div>
            {{!--
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div> --}}


            <div class="row">
                <div class="input-field col s12">
                <input type="submit" value="Reserve" class="btn right">
                </div>
            </div>

        </form>
    </div>
</div>