<div class="container-fluid top-title-header">
    <div class="container">
        {{ about.title }}
    </div>
    <div class="divider"></div>
</div>
<div class="container">


    <div class="row" style="margin-top: 48px; margin-bottom: 48px">
        <div class="col s12 m8 l8">
            {{!-- <h4 class="header-text-01">{{ about.title }}</h4>
            <div class="hr-1px"></div> --}}
            <p>{{{ about.desc }}}</p>
            <br>
            <p class="left" style="padding-left: 16px"><b><u>{{ about.manageBy}}</u></b> </p>

        </div>

        <div class="col s12 m4 l4">
            <div style="padding-top: 16px">
                <img class="responsive-img" src="/images/{{ about.imgUrl }}" alt="{{ about.title }}">
            </div>
        </div>

    </div>

    <div class="row" style="margin-top: 48px; margin-bottom: 48px">


        {{!-- <div class="col s6 m6 l6">
                <div style="padding-top: 20px">
                    <img class="responsive-img" src="/images/about/about-02.png" alt="{{ about.title }}" >
                </div>
            </div>

            <div class="col s6 m6 l6">
                <div style="padding-top: 20px">
                    <img class="responsive-img" src="/images/about/about-03.png" alt="{{ about.title }}" >
                </div>
            </div> --}}

    </div>


</div>