<div class="container-fluid top-title-header">
    <div class="container">
        รายละเอียดเพิ่มเติม
    </div>
    <div class="divider"></div>
</div>

<div class="container">

    <div class="row">
        <div class="col s6 m6 l6">

        </div>
        <div class="col s6 m6 l6">
            <a href="/products">
                <p class="btn green lighten-2 right" style="text-align: bottom; margin-top: 20px">กลับหน้าเดิม</p>
            </a>
        </div>
        <div class="col s12 m12 l12">
            <div class="hr-1px"></div>
        </div>
    </div>


    <div class="row">

        <div class="col s12 m5 l5">
            <div class="card">
                <p class="center">
                    <img class="responsive-img" src="/images/product/{{ product.imgUrl }}" style="height: 400px;">
                </p>
            </div>
            <div class="card">
                {{> _product-gallery }}
            </div>

        </div>

        <div class="col s1 m1 l1 hidden-on-xs"></div>

        <div class="col s12 m6 l6">
            <h4 class="header-text-01">
                {{ product.title }}
            </h4>

            <p class="header-text-01">
                {{{ product.desc }}}
            </p>

            <br>
        </div>


    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            {{> _product-include }}

        </div>

        <div class="col s12 m6 l6">

            {{> _product-exclude }}
        </div>
    </div>

    {{!--
        <div class="col s12 m1 l1"></div> --}}


    {{!--
        <div class="col s12 m4 l4">

            <br> {{#if product.subcontact }} {{#each product.subcontact }}

            <div class="row" style="background-color: #eee ">
                <div class="col s12 m12 l12">
                    <p class="header-text-01">
                        <h5>{{ title }}</h5>
                        <div class="divider"></div>
                        <p class="blue-grey-text">
                            <b>Contact: </b> {{ person }}</p>
                        <p>
                            <a class="blue-grey-text" href="tel:{{ phone }}">
                                <b>Tel: </b> {{ phone }}</a>
                        </p>
                        <p class="blue-grey-text">
                            <b>WhatsApp:</b> {{ whatsapp}}</p>
                        <p class="blue-grey-text">
                            <b>Skype: </b> {{ skype }}</p>
                        <p>
                            <a class="blue-grey-text" href="mailto: {{email}} ?Subject=Enquiry from Website">
                                <b>Email: </b> {{ email }}</a>
                        </p>
                        <p class="blue-grey-text">
                            <b>Working Hour: </b>
                            <br>{{ workingHour }} </p>

                    </p>
                </div>

            </div>


            {{/each}} {{/if}} {{#if product.locations }} {{> _maps-location }} {{/if}}
        </div>--}}




    <div class="row">
        <div class="col s12 m12 l12">
            {{> _product_book_form}}
        </div>
    </div>

</div>

</div>

{{!--end container--}}