<div class="container-fluid top-title-header">
    <div class="container">
        {{#if sectionTitle }}
        {{ sectionTitle }}
        {{else}}
        ข้อกำหนดและเงื่อนไข
        {{/if}}
    </div>
    <div class="divider"></div>
    <br>
    <div class="container">
        <div class="row">
            <div class="left"></div>
            <a href="/">
                <div class="btn right">ไปหน้าหลัก</div>
            </a>
        </div>
        <div class="row">
        </div>

    </div>
</div>

<div class="container">
    {{#if policy}}
    <div class="card">
        <div class="card-content">
            {{#each policy}}

            <span class="card-title">{{ title }}</span>

            <div style="padding-left: 30px">
                <p>{{{ desc }}}</p>
            </div>
            <br>

            {{/each }}
        </div>
    </div>
    {{else}}
    No term and policies available please add.
    {{/if}}

</div>