<div class="container red lighten-5">
    <div class="container" style="height: 100px">
        {{!-- MostOffice มีรายการสินค้าต่าง ให้บริการดังนี้ --}}
    </div>
</div>

<div class="container">
    {{> _banner_sub}}
</div>

<div class="container">

    <div class="row" style="margin-top: 20px">
        <div class="col s12 m12 l12" style="margin-top: 20px">
            <img class="responsive-img" src="/images/welcome/{{ welcome.imgUrl }}" style="height: 300px"
                alt="{{ welcome.welcomeBannerImgUrl }}">
            <div class="card-footer blue-grey-text center-align"></div>
        </div>
    </div>



    {{!-- <h4 class="header-text-01">
                {{ welcome.title }}
        </h4> --}}


    <div class="row">
        <div class="col s12 m12 l12">
            <br>
            <p class="header-text-01">
                {{{ welcome.desc }}}
            </p>

            <br>







            <br>


        </div>


        <div class="row">
            <div class="row" style="margin-top: 20px">
                <div class="col s12 m12 l12" style="margin-top: 20px; padding-left: 30px">
                    <img class="responsive-img" src="/images/welcome/banner/{{ welcome.welcomeBannerImgUrl}}"
                        alt="{{ welcome.welcomeBannerImgUrl }}">
                    <div class="card-footer blue-grey-text center-align"></div>
                </div>
            </div>
        </div>

    </div>
    {{!--end container--}}